<!DOCTYPE html>
<html>
  <head>
    <title>Uma View com Handlebars</title>
  </head>
  <body>
    <h1>NestJS com Handlebars!</h1>
    <ul class="lista_usuarios">
      {{#each user}}
        <li>{{this}}</li>
        <li>teste</li>
      {{/each}}
    </ul>
  </body>
</html>
